.section__brends {
  margin-bottom: 110px;
  background: #faf9fa;
  @media (max-width: 750px) {
  }
  margin-bottom: 50px;
}

.brends {
  padding: 50px 0;
  &__title {
    font-family: $metropolisBold;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #232427;
    margin-bottom: 46px;
    text-align: center;
  }

  &__row {
    display: flex;
    column-gap: 69px;
    row-gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
  }

  &__img {
  }
}
